*{
    margin: 0;
    padding: 0;
    
}
.exp{
        font-family: 'Dancing Script';
        font-size: 400%;
        background-color:rgba(142, 68, 173,1.0);
        padding:5%;
        width: 100%;
        margin-top: 77%;
        text-align: left;
        position: absolute;

}
.exp-des{
    font-family: 'Dancing Script';
    font-size: 30px;
    background-color: teal;
    padding: 10%;
    margin-left: 24%;
    margin-top: 80%;
    width: 76%;
    position: absolute;  
    display: inline-block;
    
}
 
.sq-img{    
    height: 20vmin;
    pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
    .sq-img {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  